<link href='../source/style.css' rel='stylesheet'>
<script src="../source/jquery.js"></script>
<script src="../source/script.js"></script>
<h1>Cornell Notes Template</h1>
<h2>title</h2>
<div id='reduce'>
    <h1>Reduce</h1>
</div>

<div id='record'>
    <h1>Record</h1>
    <ul>
        <li></li>
    </ul>
</div>

<div id='summary'>
    <h1>Summary</h1>
</div>

<div id='recite'>
    <h1>Recite</h1>
</div>

<div id='reflect'>
    <h1>Reflect</h1>
</div>

<div id='review'>
    <h1>Review</h1>
</div>
