<link href='../source/style.css' rel='stylesheet'>
<script src="../source/jquery.js"></script>
<script src="../source/script.js"></script>
<h1>Cornell Notes Template</h1>
<h2>title</h2>

<div id='reduce'>
    <h1>Reduce</h1>
    <ul>
        <li>Summarize facts, ideas, concepts</li>
        <li>Known as cue section</li>
    </ul>
</div>

<div id='record'>
    <h1>Record</h1>
    <ul>
        <li>Record as many meaningful facts, ideas, concepts as you can</li>
    </ul>
</div>

<div id='summary'>
    <h1>Summary</h1>
    <ul>
        <li>You can write reflection, summary, or goals</li>
        <li>review and recite as needed</li>
    </ul>
</div>

<div id='recite'>
    <h1>Recite</h1>
    <ul>
        <li>Cover record section</li>
        <li>Use only reduce section</li>
        <li>Say over the facts and ideas of the lecture as fully as you can but not mechanically and in your own words</li>
        <li>verify what you have said</li>
    </ul>
</div>

<div id='reflect'>
    <h1>Reflect</h1>
    <ul>
        <li>Consider how this material relates to the course and unit/subject being discussed</li>
        <li>Important part of learning process</li>
    </ul>
</div>

<div id='review'>
    <h1>Review</h1>
    <ul>
        <li>Spend 10 minutes every week in quick review of your notes</li>
        <li>You will retain most of what you have learned</li>
    </ul>
</div>
